<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="FIT5192-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/FIT5192</jta-data-source>
    <class>fit5192.assignment.repository.entities.Car</class>
    <class>fit5192.assignment.repository.entities.Customer</class>
    <class>fit5192.assignment.repository.entities.Groups</class>
    <class>fit5192.assignment.repository.entities.Sale</class>
    <class>fit5192.assignment.repository.entities.SalesPerson</class>
    <class>fit5192.assignment.repository.entities.Users</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
